body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
  }
.chat_log{ 
    width: 95%; height: 200px; 
}
.name{ 
    width: 10%; 
}
.message{ 
    width: 70%; 
}
.chat{ 
    width: 10%; 
}